*{
    background-color: #fff;
}
button{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:10%;
    color:#1864bb;
    background-color: #1cc1c1;
    padding:12px;
}
.app{
    margin-top: 200px;
    text-align:center;
    color:#1a57c2;
    font-size: 102px;
}
.a1{
    display:flex;
    
}